.Search {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
}

#search {
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
label {
    padding-right: 7px;
}

input {
    padding-right: 7px;
}

.SearchImage {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}