.Register {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
}


.wrongInput {
    color: red;
    font-size: 1.5;
}

.ButtonWithBottomMargin {
    margin-bottom: 150px;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2em;
    padding: 5px 50px;
    margin-left: 120px;
}

#firstName {
    margin-left: 20px;
}

#lastName {
    margin-left: 24px;
}

#email {
    margin-left: 66px;
}

#handle {
    margin-left: 25px;
}

#password {
    margin-left: 30px;
}