.Home {
    text-align: center;
   
    width: 100%;
    
}
.Title {
    text-align: center;
    color: rgb(185, 59, 21);;
}
#parent #popup{
    display: none;
}
#parent:hover #popup {
    display: block;
    z-index: -1;
}

#homeRecipes {
    padding-bottom: 100px;
}


.pleaseLogIn {
    color:rgb(185, 59, 21);
    margin-left: 30px;
}