.CommentsContainer {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    width: 85%;
    margin: 50px auto 50px auto;
}


.SingleComment2 {
    margin: 20px 0 20px 0;
    border: 1px solid rgb(70, 4, 51);
    border-radius: 10px;
}


