.EditRecipeButton2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.4em;
    margin: 50px auto 350px auto;
    background-color: #246924;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;

}