.ProfilePicture {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 50%;
}

.DetailsProfileInfo {
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
    display: flex;
}

.ProfileEditButton2 {
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left:  52px;
}

.RightProfilePicturePart {
    margin-left: 200px;
}




.DetailsProfileInfo {
    width: 40%;
}



.DetailsProfileInfo p {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color:black
}

.DetailsProfileInfo span {
    color:rgb(185, 59, 21)
}

.LeftProfilePicturePart {
    width:40%
}