.TopPart {
    width: 100%;
    display: flex;
}


.UploadImage {
    width: 250px;
    height: auto;
    margin: 40px;
    padding-left: 50px;
    font-family: 'Pattaya', sans-serif;
}

.InsertBar {
    margin-top: 100px;
    padding-left: 40%;


}
.NameInput {
    padding-bottom: 20px;
    font-family: 'Pattaya', sans-serif;
}
.NameInput #name {
    height: auto;
    width: 400px;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.5em;
    text-align: center;
}
.InsertProducts {
    position: center;
    padding-left: 300px;
    margin-top: 50px;
}

.InsertProducts #Products{
    display: block;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    padding: 25px;
    font-size: 1.5em;
    text-align: left;
    background-color: rgba(250, 243, 216, 0.922);
    font-family: 'Pattaya', sans-serif;
}

.InsertRecipe {
    position: center;
    padding-left: 300px;
    margin-top: 50px;
}

.InsertRecipe #Recipe{
    display: block;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    padding: 25px;
    font-size: 1.5em;
    text-align: left;
    background-color: rgba(250, 243, 216, 0.922);
    font-family: 'Pattaya', sans-serif;
}
.InsertButton {
    margin-bottom: 100px;
}

.UploadRecipeButton {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.4em;
    margin: 50px auto 350px auto;
    background-color: #246924;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
}


.UploadFileRecipePicture {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.4em;
    margin: 50px auto 0px auto;
    background-color: #246924;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
}