.navLink {
    font-family: 'Pattaya', sans-serif;
    padding: 20px;
    font-size: 1.8em;
    text-decoration: none;
    color: #15a815;
}

.navLink:hover {
    color:rgb(234, 119, 18);
  }
  
  .navLink.active {
    color: rgb(234, 166, 18);
    text-decoration: underline;
    
  }



#dropdown-basic {
    font-family: 'Pattaya', sans-serif;
}

.NavLinksContainer {
  margin-top: 50px;
  margin-bottom: 20px;
}