
.ViewDetailsTopContainer {
    display: flex;
}

.ViewDetailsImage {
    width: 34%;
}

.ViewDetailsImage img {
    width: 100%;
    height: auto;
    margin: 50px;
}

.Muffins .img {
    width: 20px;
    height: 20px;
}

.RatingComponent {
    width: 25%;
    padding-left: 80px;
    padding-top:80px;
}

.RatingComponent img {
    padding-right: 15px;
}

.LikeHolder {
    display:flex;
    padding-bottom: 20px;
}

.LikeHolder p {
    padding-top: 17px;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2em;
}

.EditButton {
    margin-top: 30px;
    margin-left: -65px;
}
.DeleteButton {
    margin-top: 30px;
    margin-left: 30px;
}

.DetailsInfo {
    width: 40%;
}

.DetailsInfo .Muffins {
    margin-left: -130px;
}

.DetailsInfo p {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color:black
}

.DetailsInfo span {
    color:rgb(185, 59, 21)
}

.RecipeTextContainer {
    display:flex;
    width: 100%;
    text-align: left;
}

.Ingredients {
    width:40%;
    font-family: 'Pattaya', sans-serif;
    padding: 20px 0 50px 50px;
    font-size: 1.2em;
    border-right: 1px solid rgb(70, 4, 51);

}

.Directions {
    width: 59%;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2em;
    padding: 20px 20px 50px 50px;
    border-left: 1px solid rgb(70, 4, 51);
    left: 50%;

}

/* .CommentsContainer {

    width: 100%;
}

.InsertComment {
    width:100%;
    
}

.InsertCommentText #Comment {
    width:80%;
    margin: 180px auto 50px auto;
    padding: 25px 30px;
    display: block;
    height: 200px;
    border-radius: 15px;
    font-size: 1.5em;
    text-align: left;
    background-color: rgba(250, 243, 216, 0.922);
    font-family: 'Pattaya', sans-serif;
}
.CommentSubmitButton {
    padding-bottom: 100px;
}

.SingleComment {
    width:100%;
    margin: 50px auto 50px auto;
    padding: 25px 30px;
    font-size: 1.2em;
    text-align: left;
    font-family: 'Pattaya', sans-serif;
    height: 200px;
    border-radius: 15px;
}

.SingleComment h2 {
    padding-left: 50px;
    padding-bottom: 50px;
}

.Comment {
    width:80%;
    margin: 20px auto 20px auto;
    padding: 25px 30px;

    border-radius: 15px;
    text-align: left;
    background-color: rgba(250, 243, 216, 0.922);
    font-family: 'Pattaya', sans-serif;
    border: 1px solid rgb(70, 4, 51);
} */

.Done {
    color: rgb(70, 4, 51);
    font-family: 'Pattaya', sans-serif;
    margin-top:-130px;
}

.EmptyComment {
    color: rgb(255, 0, 0);
    font-family: 'Pattaya', sans-serif;
    margin-top:-150px;
}


/* .InsertComment {
    padding-top: 300px;
} */