.Header a {
    padding-right: 70px;
    background-color: rgb(255, 255, 255);
    font-family: 'Pattaya', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: #15a815;
}


  
.Header a:hover {
    color:rgb(234, 119, 18);
  }
  
  .Header a.active {
    color: rgb(234, 166, 18);
    text-decoration: underline;
    
  }

.Header {
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}

.Header img {
    width: 100%;
}

nav {
    margin: 30px 0 30px 0;
    padding-bottom: 30px;
}

.disabled-link {
    pointer-events: none;
    color: grey;
  }

 #UploadBtn {
    margin-bottom: 15px;
  }