.Comment {
 display: flex;
}

.CommentText {
    background-color: rgba(245, 222, 133, 0.49);
    padding: 15px 15px 5px 15px;
    margin: 10px 0px;
    border-radius: 10px;


}

.CommentProfilePicture {
    width: 200px;
    height: 200px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
}

.CommentRight {
    margin: 30px 30px 0 10px;
    width: 100%;
    text-align: left;
}

#DeleteCommentButton {
    margin: 0px 0 20px 0;
    float: right;
    background-color: rgb(185, 59, 21);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size:0.8em;
}
span {
    color: rgb(185, 59, 21);
}

.CreatedOn {
    font-size:0.8em;
}