
.Recipes {
    max-width: 100%;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    padding-bottom: 250px;
    padding-top: 40px;;
 
}


.ViewDetailsLink {
    text-align: center;
    margin-bottom: 300px;
    margin-top: 300px;
    padding-bottom: 300px;
    padding-top: 300px; 
}



.SingleImage {
    width: 300px;
    height: 200px;
    margin: 20px 20px 20px 20px;
}

.SingleView {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 50px 50px 50px 50px;
}


h3 {
    width: 300px;
}