.About {
    font-family: 'Pattaya', sans-serif;
}

#AboutH1 {
    font-family: 'Pattaya', sans-serif;
    margin-bottom: 20px;
}

#ProjectName {
    color:rgb(185, 59, 21);
    margin-bottom: 20px;
}

.singleAuthor {
    padding-bottom: 150px;
    
}

.About > p {
    font-size: 1.5em;
}

.authorName {
    font-size: 2em;
    margin-top:20px;
    color:rgb(185, 59, 21);
}

.singleAuthor {
    font-size: 1.5em;
    margin-top:20px;
    margin-left:50px;
}

.authorImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:30px;
}

.authors {
    display: flex;
    margin: 0 auto 0 auto;
    width:65%;
}