.DropDownTime {
    padding-bottom: 20px;
}

.DropDownTime #dropdown-basic {
    height: auto;
    width: 400px;
    border-radius: 15px;
    font-size: 1.5em;
}

.DropDownTime #dropdown-items {
    height: auto;
    width: 400px;
    border-radius: 15px;
    font-size: 1.5em;
    font-family: 'Pattaya', sans-serif;
}
