.PreviewPicture {
    width: 400px;
    height: 400px;
    border-radius: 50%;


}

#UpdateProfileButton {
    font-family: 'Pattaya', sans-serif;
    padding: 15px 50px;
    margin-bottom: 200px;
    font-size: 1.2em;

}

.UploadProfileImage {
    width:100%;
    margin: 0 auto 50px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.UploadImageButton {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.4em;
    margin: 50px auto 50px auto;
    background-color: #198754;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;

}

