
.all-users {
   
    max-width: 100%;
    max-height: 100%;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    padding-bottom: 250px;

    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 50px 50px 50px 50px;
 
}

.ViewDetailsToUsersLink {
    text-align: center;
    margin-bottom: 300px;
    margin-top: 300px;
    padding-bottom: 300px;
    padding-top: 300px; 
}

.all-users-img {
    width: 300px;
    height: 300px;
    margin: 20px 20px 20px 20px;
    border-radius: 50%;
}
.all-users-title {
    width: 300px;
}

.SearchedUserContainer {
    padding-bottom: 300px;
}