.EditRoleButton2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 1em;
    margin-bottom: 200px;
    margin-right: 20px;
    margin-top: 20px;

}
.DetailsInfoUserContainer {
    display:flex;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.55em;
}
.PictureOfUser {
    
    margin-top:100px;
    margin-left:100px;
}

.UserInfoLeftPart {
    margin-left:100px;
    margin-top:100px;
    margin-right:100px;
}