
.Users {
    display: flex;
    margin: 0 auto;
    font-family: 'Pattaya', sans-serif;
    color: rgb(185, 59, 21);;
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-top: -10px;
   }

.UsersCounts {
    width: 50%;
    text-align: right;
    padding-right:25px;

}

.PostsCounts {
    width: 50%;
    text-align: left;
    padding-left: 25px;
}